# IntelliJ/IDEA
**/.idea/

# backend log
src/sp_backend/backend.log

# grpc externals
src/sp_backend/src/external_libs/grpc/

/src/smartpacifier_app/lib/generated
/src/smartpacifier_app/lib/generated
